<!-- <div class="container1" *ngIf="!hardcodedAuthentication.isUserLoggedIn() && !hardcodedAuthentication.isAdminLoggedIn() "> -->
  <div class="container1"> 
    <h1 class="heading2">Food Delivery Application</h1>
  <div class="container2">
      <h3>Discover the best food & drinks near you</h3>
  </div>
  <div class="h-100 d-flex align-items-center justify-content-center">
        <nav class="navbar">
          <form class="form-inline" style="width: 900px;">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </nav>
  </div>
</div>