<div class="body">
    <table class="table table-borderless">
        <thead>
        <tr>
            <th scope="col">Area</th>
            <th scope="col">City</th>
            <th scope="col">country</th>
            <th scope="col">state</th>
            <th scope="col">pincode</th>
            <th scope="col">action</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customerAdd of customerAddress  | paginate: { itemsPerPage: count, currentPage: p }" class="bg-primary">
            <td>{{customerAdd.area}}</td>
            <td>{{customerAdd.city }}</td>
            <td>{{customerAdd.country}}</td>
            <td>{{customerAdd.state}}</td>
            <td>{{customerAdd.pincode}}</td>
            <td>
              <button style="margin-right:20px ;" (click)="getSelectedADd(customerAdd.addressid)"   class=" btn btn-outline-primary">Use </button>
              <button style="margin-right:20px ;" (click)="deleteCustomerAdd(customerAdd.addressid)"   class=" btn btn-outline-danger">Delete </button>
            </td>
            <!-- <td>
              <button style="margin-right:20px ;" (click)="getSelectedADd(customerAdd.addressid)" class=" btn btn-outline-danger">delete </button>
              </td>                -->
            </tr>
        </tbody>
    </table>
<hr>
</div>
<div class="text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>